.page-header{
    height: 60px;
}

.page-header .navigation-item {
    z-index: 10;
    color: rgba(255,255,255,.7);
}

.page-header .navigation-link {
    z-index: 2;
}


.page-header ul {
    list-style: none;
}